#navigation {
  float: left;
  border: dotted 1px;
}

#content {
  float: left;
  width: 80%;
  border: dashed 1px;
}

#footer {
  /*position:fixed;
  bottom:10px;
  left: 50px;*/
  clear: left;
  padding-top: 150px;
  border-top: solid 1px;
  width: 80%;
}
